:root {
  --main-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Mulish', sans-serif;
  --min-width: 320px;
  --max-width-container: 1760px;
  --accent-color: #C2AB81;
  --hover-color: #8f7547;
  --hover-color-2: #FCBF49;
  --white-color: #fff; 
  --dark-color: #171717; 
  --bg-color: #131313; 
  --gray-color: #717171; 
  --text-color: #666;
  --stroke-color: #808080;
  --error-color: #FC0000;
  --success-color: #27ae60;
}
    